@model CheckoutViewModel

<h2 class="text-center my-5">Asset: @Model.Name</h2>

<div class="container">
    <div class="jumbotron shadow bg-secondary">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="text-center">
                    <img class="detailImage" src="@Model.ImageUrl" style="width:300px; height:350px;"/>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <form asp-action="PlaceCheckout" asp-controller="Asset" class="mt-5">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="AssetId" hidden/>
                    <div class="form-group">
                        <label class="control-label">WE Card id:</label>
                        <input asp-for="WECardId" class="form-control" required placeholder="Enter Warehouse Employee card id"/>
                        <span asp-validation-for="WECardId" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <input type="submit" value="Register" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
