@model StatusViewModel

<h1 class="my-5 text-center">Register new Status</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4 shadow p-3 mb-5 bg-white rounded mt-5">
        <form asp-action="Create" asp-controller="Status" class="mt-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Register" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>